@use 'mixins';


.layout {
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 900px) {
    width: 80%;
  }

}

.messages {
  border: solid 0.1rem var(--background);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  height: 80%;
  max-width: 700px;
  max-height: 500px;
  min-height: 220px;
  padding: 1rem;
  overflow-y: scroll;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
  }
}

.inboundMsg {
  align-self: flex-start;
  border: solid 0.1rem var(--background);
  @include mixins.message;
}

.outboundMsg {
  text-align: right;
  background: var(--foreground);
  color: #FFF;
  @include mixins.message;
  align-self: flex-end;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  input {
    width: 60%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: solid 0.1rem var(--background);
    text-align: center;
    font-family: inherit;
  }
  input:focus {
    outline: none;
    border: solid 0.1rem var(--foreground);
  }

  @include mixins.submit-button;
}

.disclaimer {

  font-size: 0.7rem;
  color: rgb(89, 89, 89);
  font-style: italic;
  max-width: 75%;
  margin-bottom: 0;
  margin-top: 0.5rem;
}