
:root {
 --foreground: #2D2F32
 --background: #DEDFE1
}

body {
  background: #ecedef;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

section {
  width: 100%;
  position: relative;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
}