.nav {
  position: fixed;
  z-index: 2;
  bottom: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  a {
    padding: 0 0.5rem;
    position: relative;
  }

  a:hover {
    text-underline-offset: 0.3rem;
  }

  a:focus {
    text-underline-offset: 0.3rem;
    outline: none;
  }

  a:active {
    text-underline-offset: none;
    outline: solid 0.2rem;
  }

  @media (max-width: 768px) {
    width: 85%;
  }

  @media (max-width: 500px) {
    width: 95%;
    font-size: 0.8rem;
  }
}

.current::before{
  content: "*";
  position: absolute;
  display: inline;
  height: 0.2rem;
  top: -0.85rem;
  left: 50%;
  transform: translateX(-50%);
}
